/*.box {
    width: 100%;
  	height: 91vh;
  background: 
    repeating-radial-gradient(
      circle at 0 0, 
      #eee,
      #ccc 50px
    );
}*/

.page-not-found-header {
	color: #6B788C;
}

.page-not-found-image {
	width: 50vw;
}

.page-not-found-content{
	color: #6B788C;
}