<div class="bottom-nav-container" [ngClass]="variablesService.navbarState">

<div class="bottom-navigation-item" routerLink="/happiness">
	<div class="icon happiness-index"></div>
	<div class="text">Happiness Index</div>	
</div>

<div class="bottom-navigation-item" routerLink="/population">
	<div class="icon population-index"></div>
	<div class="text">Population Index</div>	
</div>

<div class="bottom-navigation-item" routerLink ="/environment">
	<div class="icon environmental-index"></div>
	<div class="text">Environmental Index</div>	
</div>

<div class="bottom-navigation-item" routerLink ="/education">
	<div class="icon education-index"></div>
	<div class="text">Education Index</div>	
</div>

<div class="bottom-navigation-item">
	<div class="icon economy-index"></div>
	<div class="text">Economy Index</div>	
</div>

<div class="bottom-navigation-item">
	<div class="icon health-index"></div>
	<div class="text">Health Index</div>	
</div>

<div class="bottom-navigation-item">
	<div class="icon energy-index"></div>
	<div class="text">Energy Index</div>	
</div>

<div class="bottom-navigation-item">
	<div class="icon mobile-index"></div>
	<div class="text">Mobile Index</div>	
</div>
	
</div>