<div class="scheduling-container row">

     <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="card">
              <div class="card-header">
                Lighting Remote Control
              </div>
              <div class="scheduling-card-block">

                    <div class="container" style="margin-left: 150px">
                      <div class="table-responsive" >          
                      <table class="table">
                        <thead>
                              </thead>
                        <tbody>
                        <tr>

                        <th>Room Name</th>
                        <th>Floor Name</th>
                        <th>Status</th>
                        </tr>
                          <tr>
                            <td>Meeting Room1</td>
                             <td>Second Floor</td>
                            <td><div>
                            <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                        </label>
                        </div></td>
                          </tr>
                          <tr>
                            <td>Meeting Room2</td>
                             <td>Second Floor</td>
                            <td><div>
                            <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                        </label>
                        </div></td>
                          </tr>
                          <tr>
                            <td>Work Space1</td>
                             <td>Second Floor</td>
                            <td><div>
                            <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                        </label>
                        </div></td>
                          </tr>
                          <tr>
                            <td>Work Space2</td>
                             <td>Second Floor</td>
                            <td><div>
                            <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                        </label>
                        </div></td>
                          </tr>
                          <tr>
                            <td>Work Space3</td>
                             <td>Second Floor</td>
                            <td><div>
                            <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                        </label>
                        </div></td>
                          </tr>
                          <tr>
                            <td>Meeting Room3</td>
                             <td>Second Floor</td>
                            <td><div>
                            <label class="switch">
                            <input class="switch-input" type="checkbox" />
                            <span class="switch-label" data-on="On" data-off="Off"></span> 
                            <span class="switch-handle"></span> 
                        </label>
                        </div></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>




              </div>
            </div>


     </div>

</div>