
<map-component [polygons]="polygons"></map-component>

<div class="bottom-container" [ngClass]="variablesService.navbarState">
    <!-- <div class="card-header">
        Test title
    </div> -->

    <div class="card-block row">
        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">GDP per Capita</div>
            <div id="pichart1" class="bottom-card-inner-container"></div>

        </div>  

        </div>

        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">GNI Structure by Components</div>
            <div id="pichart2" class="bottom-card-inner-container"></div>
        </div>  

        </div>

        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Money Supply</div>
             <div id="pichart3" class="bottom-card-inner-container">
            </div>
        </div>  

        </div>

        <div class="bottom-card">
           <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Crude Oil Production</div>
             <div id="pichart4" class="bottom-card-inner-container">
            </div>
        </div>  


        </div>
        

    </div>
</div>