
<map-component [polygons]="polygons"></map-component>

<div class="bottom-container" [ngClass]="variablesService.navbarState">
    <!-- <div class="card-header">
        Test title
    </div> -->

    <div class="card-block row">
        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Happiness Comparison</div>
            <div id="chart2" class="bottom-card-inner-container">
            </div>

        </div>  

        </div>

        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Peoples Happy</div>
            <div id="chart1" class="bottom-card-inner-container">
            </div>
        </div>  

        </div>

        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Income Level</div>
             <div id="chart3" class="bottom-card-inner-container">
            </div>
        </div>  

        </div>

        <div class="bottom-card">

        <div class="news-feed bottom-card-inner">
            <div class="vertical-header">News Feed</div>
            <div class="newsfeed-container">

            <div id="carousel-news-feed" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-news-feed" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-news-feed" data-slide-to="1"></li>
    <li data-target="#carousel-news-feed" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
            <div class="news-item full-width">
                <div class="title full-width">Plans for new happiness city</div>
                <div class="content full-width">Dubai announces plans for new happiness city.</div>                
            </div>
            <div class="news-item full-width">
                <div class="title full-width">Dubai city selected as best living city</div>
                <div class="content full-width">Dubai city selected as best living city in news survey</div>                
            </div>
            <div class="news-item full-width">
                <div class="title full-width">divorce rate decreased </div>
                <div class="content full-width">divorce rate decreased in last year</div>                
            </div>
    </div>
    <div class="carousel-item">
      <div class="news-item full-width">
                <div class="title full-width">Plans for new happiness city</div>
                <div class="content full-width">Dubai announces plans for new ‘happiness city.</div>                
            </div>
            <div class="news-item full-width">
                <div class="title full-width">Dubai city selected as best living city</div>
                <div class="content full-width">Dubai city selected as best living city in news survey</div>                
            </div>
            <div class="news-item full-width">
                <div class="title full-width">divorce rate decreased </div>
                <div class="content full-width">divorce rate decreased in last year</div>                
            </div>
    </div>
    <div class="carousel-item">
    <div class="news-item full-width">
                <div class="title full-width">Plans for new happiness city</div>
                <div class="content full-width">Dubai announces plans for new happiness city.</div>                
            </div>
            <div class="news-item full-width">
                <div class="title full-width">Dubai city selected as best living city</div>
                <div class="content full-width">Dubai city selected as best living city in news survey</div>                
            </div>
            <div class="news-item full-width">
                <div class="title full-width">divorce rate decreased </div>
                <div class="content full-width">divorce rate decreased in last year</div>                
            </div>
    </div>
  </div>
  <a class="left carousel-control" href="#carousel-news-feed" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-news-feed" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                
            </div>
        </div>  

        </div>


    </div>
</div>