
<map-component [polygons]="polygons"></map-component>

<div class="bottom-container" [ngClass]="variablesService.navbarState">
    <!-- <div class="card-header">
        Test title
    </div> -->

    <div class="card-block row">
        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Healthy Life Expectancy</div>
            <div class="widget-inner-container">

                <div class="health-icon happiness col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class=" health-icon-text col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">67.9 Yrs</div>
                

                </div>

            </div>

        </div>  

        </div>

        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Number of Deaths</div>
            <div id="pichart2" class="bottom-card-inner-container"></div>
        </div>  

        </div>

        <div class="bottom-card">

        <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Prevalence of Smoking</div>
             <div id="pichart3" class="bottom-card-inner-container">
            </div>
        </div>  

        </div>

        <div class="bottom-card">
           <div class="weather-forecast bottom-card-inner">
            <div class="vertical-header">Fertility  Ratio</div>
             <div id="pichart4" class="bottom-card-inner-container">
            </div>
        </div>  


        </div>
        

    </div>
</div>