<div>
  <div class="analytics-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div>
            <div class="card">
              <div class="card-header">
                Active Power vs POA
              </div>
              <div id="chart1" class="scheduling-card-block">

              </div>
            </div>
     </div>

  </div>

<div class="analytics-table-container col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
<p class="cityoverview-header">Zone wise Energy Generation</p>
<table class="table table-bordered">
  <thead>
    <tr>
     
      <th>Zone Name</th>
      <th>Total Generation</th>
      <th>6 AM</th>
      <th>7 AM</th>
      <th>8 AM</th>
      <th>9 AM</th>
      <th>10 AM</th>
      <th>11 AM</th>
      <th>12 AM</th>
      <th>1 PM</th>
      <th>2 PM</th>
      <th>3 PM</th>
      <th>4 PM</th>
      <th>5 PM</th>
      <th>6 PM</th>
      <th>7 PM</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Zone1</th>
      <td>84.05</td>
      <td>0.25</td>
      <td>3.39</td>
      <td>4.95</td><td>6.88</td><td>7.66</td><td>7.72</td><td>7.66</td><td>7.56</td><td>7.69</td><td>7.77</td><td>6.79</td><td>6.54</td><td>5.49</td><td>3.7</td>
    </tr>
    <tr>
      <th scope="row">Zone2</th>
      <td>100.81</td>
      <td>0.56</td><td>1.67</td><td>3.78</td><td>5.78</td><td>10.75</td><td>11.87</td><td>11.53</td><td>9.55</td><td>9</td><td>12.13</td><td>8.59</td><td>7.85</td><td>5.14</td><td>2.61</td>
    </tr>
    <tr>
      <th scope="row">Zone3</th>
      <td>120.39</td>
     <td>0.46</td><td>0.58</td><td>1.67</td><td>5.78</td><td>11.23</td><td>12.45</td><td>12.67</td><td>8.98</td><td>10.23</td><td>12.43</td><td>12.56</td><td>11.34</td><td>10.45</td><td>9.56</td>
    </tr>
   
  </tbody>
</table>
</div>
</div>