<div class="top-nav-container" [ngClass]="variablesService.navbarState">

<div class="top-navigation-item people" routerLink="/happiness">
	<!-- <div class="icon happiness-index"></div> -->
	<div class="text ">Happiness</div>	
</div>

<div class="top-navigation-item population" routerLink="/population">
	<!-- <div class="icon population-index"></div> -->
	<div class="text">People</div>	
</div>

<div class="top-navigation-item environmental" routerLink ="/environment">
	<!-- <div class="icon environmental-index"></div> -->
	<div class="text">Environment</div>	
</div>

<div class="top-navigation-item education" routerLink ="/education">
	<!-- <div class="icon education-index"></div> -->
	<div class="text">Education</div>	
</div>

<div class="top-navigation-item economy" routerLink ="/economy">
	<!-- <div class="icon economy-index"></div> -->
	<div class="text">Economy</div>	
</div>

<div class="top-navigation-item health" routerLink ="/health">
	<!-- <div class="icon health-index"></div> -->
	<div class="text">Health</div>	
</div>

<div class="top-navigation-item energy" routerLink ="/infrastructure">
	<!-- <div class="icon energy-index"></div> -->
	<div class="text">Infrastructure</div>	
</div>

<!--<div class="top-navigation-item">
	<div class="icon mobile-index"></div>
	<div class="text">Mobile</div>	
</div> -->
	
</div>