<div class="card  full-width">
  <div class="card-header">
    Site Overview - 
   <img src="../../images/online.ico" width="20px" height="20px" /> <font size="2" style="padding-right: 20px">{{overallSiteDevices}}</font> <img src="../../images/offline.png" width="20px" height="20px" /> <font size="2">{{overallOfflineDevices}}</font>
  <!--  <span style="float: right; margin-right: 40px; margin-top: 2px; cursor: pointer;" (click)="showDeviceOverview()" *ngIf="deviceName">
   	<img class="selected-device-icon"src="../../images/map_icons/20/EMS.png" width="20px" height="20px" />
	    {{deviceName}}
	</span> -->
  </div>
  <div class="card-block map-container">
     <div id="map"></div>
  </div>
</div>
