<div class="overview-container row">

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
	  <div class="overview-widget-inner">
	  	<div class="widget-header">PR</div>
		  	<div class="widget-inner-container">

		  		<div class="overview-icon happiness col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		  		<div class=" icon-text uparrow col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">73%</div>
                

	  			</div>

			</div>
	  		

	  </div>
  	
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
	  	<div class="widget-header">Energy Generation</div>
		  	<div id="chart1" class="chart-inner-container">

		  	</div>

	</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">Zone wise Energy Generation</div>
	  	<div id="chart2" class="chart-inner-container">

		  </div>
	</div>
  </div>

<div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="overview-widget-inner">
      <div class="widget-header">Weather Information</div>
      <div class="overview-weather-info">
        <div class="overview-weather-box grow col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
          <img class="overview-weather-icon" src="../../images/module-temp.png">
          <div class="overview-weather-text">
            21.6<small>km/h</small>
          </div>
        </div>
        <div class="overview-weather-box grow col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
          <img class="overview-weather-icon" src="../../images/wind-dir.png">
          <div class="overview-weather-text">
            NE
          </div>
        </div>
        <div class="overview-weather-box grow col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
          <img class="overview-weather-icon" src="../../images/amp-temp.png">
          <div class="overview-weather-text">
            26.6°C
          </div>
        </div>
        <div class="overview-weather-box grow col-xs-6 col-sm-6 col-md-6 col-xl-6 col-lg-6">
          <img class="overview-weather-icon" src="../../images/wind-speed.png">
          <div class="overview-weather-text">
            24.3°C
          </div>
        </div>
    </div>
  </div>
</div>


</div>

<div class="overview-container row">

	<div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
	  	<div class="overview-widget-inner">
	  		<div class="widget-header">Inverter Generation</div>
          <div id="chart4" class="chart-inner-container">

          </div>
		  	
		</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">Active Power/POA</div>
      <div id="chart5" class="chart-inner-container">
      </div>
	</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">Alarms</div>

      <div id="chart6" class="chart-inner-container">

          </div>
	  	
	</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">Wind Speed</div>
	  	
      <div id="chart7" class="chart-inner-container">

      </div>

	</div>
  </div>

</div>

<div class="overview-container row">

<div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">Savings(₹)</div>
	  	
        <div id="chart8" class="chart-inner-container">

        </div>

	</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">IRR Energy</div>

         <div id="chart9" class="chart-inner-container">

        </div>
	  	
	</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
  	<div class="overview-widget-inner">
  	<div class="widget-header">Energy Export and Import</div>
	  	
      <div id="chart10" class="chart-inner-container">

      </div>

	</div>
  </div>

  <div class="overview-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="overview-widget-inner">
    <div class="widget-header">Ambient vs Module Temperature</div>
      
      <div id="chart3" class="chart-inner-container">

    </div>

  </div>
  </div>
  </div>
